@font-face {
  font-family: "Cabinet-Grotesk";
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../../vendor/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0px 40px 0;
}

.header__info-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo-link {
  cursor: pointer;
}

.header__logo-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__logo {
  max-width: 89px;
  max-height: 40px;
}

.header__date-city {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
}

.header__userinfo-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__add-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
}

.header__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__userinfo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.header__userinfo-link:link {
  text-decoration: none;
}

.header__userinfo-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__username {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  color: #000;
}

.header__useravatar {
  width: 40px;
  height: 40px;
}

.header__useravatar-letter {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 5px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
}

.header__signup-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
}

.header__signup-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__login-button {
  gap: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
}

.header__login-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
